@font-face {
	font-family: Montserrat;
	src: url('@/shared/assets/fonts/Montserrat.ttf');
}

@font-face {
	font-family: Nunito;
	src: url('@/shared/assets/fonts/Nunito.ttf');
}

@font-face {
	font-family: Roboto;
	src: url('@/shared/assets/fonts/Roboto.ttf');
}