.table {
	width: 100%;
	max-width: var(--app-width);
	margin: 0 auto;

	h2 {
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 26px;
		color: #222;
		margin-bottom: 40px;
	}

	.name {
		padding-left: 15px;

		@media (width <=900px) {
			padding-left: 0;
		}
	}

	.type {
		position: relative;
		display: flex;
		align-items: center;
	}

	.site {
		letter-spacing: 0.05em;
	}

	.action {
		justify-content: center;
		font-size: 12px;
		border: none;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 1;
		}
	}

	&_header {
		margin-bottom: 10px;
		padding: 0 15px;
		display: grid;
		grid-template-columns: 3fr 1fr 0.8fr 1.3fr 0.8fr;
		gap: 25px;

		.name,
		.type,
		.status,
		.site,
		.action {
			font-weight: 500;
			font-family: var(--first-family);
			font-size: 11px;
			text-transform: uppercase;
			color: #999;
			display: flex;
			align-items: center;
			padding: 0;
			position: relative;
			background: none;
			border: none;
			cursor: pointer;
			word-break: break-all;


			&:active {
				opacity: 1;
				color: #626262;
			}

			img {
				width: 7px;
				height: 4px;
				padding: 0;
				margin-left: 7px;
			}
		}

		@media (width <=900px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			gap: 15px;
		}
	}

	&_items {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}

.wrong-result {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		font-family: var(--second-family);
		font-weight: 500;
		font-size: 18px;
		text-align: center;
		color: #222;
		margin-top: 150px;
		margin-bottom: 37px;
	}

	button {
		width: 95px;
		height: 30px;
		justify-content: center;
		font-size: 12px;
		border: none;
		font-family: var(--second-family);
		border-radius: 10px;
		color: var(--table-item-bg);
		cursor: pointer;
		font-weight: 600;
		background: var(--button-results);

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 1;
		}
	}
}