.table {
	width: 100%;
	max-width: var(--app-width);
	margin: 0 auto;

	.name {
		padding-left: 15px;

		@media (width <=900px) {
			padding-left: 0;
		}
	}

	.type {
		position: relative;
		display: flex;
		align-items: center;
	}

	.site {
		letter-spacing: 0.05em;
	}

	.action {
		justify-content: center;
		font-size: 12px;
		border: none;
		cursor: pointer;

		&:hover {
			opacity: 0.8;
		}

		&:active {
			opacity: 1;
		}
	}

	&_items {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}